version: "3.9"
services:
  web:
    build: .
    image: scribly/scribly
    ports:
      - "8000:8000"
    volumes:
      # for a hack where cypress dumps email html bodies into /static to interact with emails
      # as a workaround for: https://github.com/cypress-io/cypress/issues/2918
      - "./static:/project/static"
    environment:
      DATABASE_URL: postgres://scribly:pass@db/scribly?sslmode=disable
      SITE_URL: http://127.0.0.1:8000
      RESEND_BASE_URL: http://mockresend:1080
    command: >
      bash -c "
        ./wait-for-it.sh db:5432
        ./wait-for-it.sh mockresend:1080
        sqitch deploy db:$${DATABASE_URL} && /bin/scribly
      "
  migrations:
    image: sqitch/sqitch
    command: deploy db:postgres://scribly:pass@db/scribly?sslmode=disable
    working_dir: /project
    volumes:
      - type: bind
        source: "."
        target: "/project"
        read_only: true
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: scribly
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: scribly
    volumes:
      - pgdata:/var/lib/postgresql/data
  mockresend:
    image: mockserver/mockserver:mockserver-5.15.0
    environment:
      MOCKSERVER_INITIALIZATION_JSON_PATH: /config/mockresend.json
      MOCKSERVER_LOG_LEVEL: "WARNING"
    ports:
      - "9991:1080"
    volumes:
      - "./mockresend.json:/config/mockresend.json"
volumes:
  pgdata:
