aiofiles==0.4.0
aiohttp==3.6.2
aiosqlite==0.11.0
argon2-cffi==19.2.0
gunicorn==20.0.0
itsdangerous==1.1.0
jinja2==2.10.3
premailer==3.6.1
python-multipart==0.0.5
six==1.13.0
starlette==0.13.0
typing-extensions==3.7.4.1
user-agents==2.1
uvicorn==0.11.2
