body {
  font-family: monospace;
  font-size: 16px;
  color: #191919;
}

form > * {
  display: block;
}

form > * + * {
  margin-top: 1em;
}

input,
textarea {
  color: #191919;
}

.text {
  white-space: pre-wrap;
}

h3 {
  margin: 0;
}

* {
  font-weight: lighter;
  font-family: inherit;
}

.page {
  padding-top: 1em;
  max-width: 900px;
  margin: 0 auto;
}

input,
textarea {
  font-size: 16px;
  padding: 0;
  outline: none;
}

input {
  border: solid 1px;
}

a.button {
  display: inline-block;
}

button {
  color: black;
  border-color: black;
}

button,
a.button {
  padding: 1em;
  background: transparent;
  border: solid 1px;
  cursor: pointer;
  font-size: 11px;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
  background: lightgray;
}

a.button,
a.button:hover,
a.button:focus,
a.button:visited {
  color: #191919;
  text-decoration: none;
}

.add-cowriters > * {
  display: block;
  width: 100%;
}

.add-cowriters > input {
  border-width: 0 0 1px 0;
}

.add-cowriters > * + * {
  display: block;
  width: 100%;
  margin-top: 0.5em;
}

.story {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.grow {
  flex-grow: 1;
}

.story__writer {
  flex-basis: 100%;
  border: none;
  min-height: 25em;
}

.story__details {
  display: flex;
  justify-content: space-between;
  border-width: 1px 0 0 0;
  border-style: solid;
  font-size: 0.75rem;
}

.writer {
  min-height: 10em;
  resize: vertical;
  margin-top: 1em;
}

.faded {
  color: gray;
}

.story__turnbuttons {
  display: flex;
  justify-content: center;
}

.story__turnbuttons > * {
  flex: 1 1 0px;
}

#new-story {
  height: 95vh;
}

.typewriter {
  display: flex;
  flex-direction: column;
}

.typewriter > input,
.typewriter > textarea {
  width: 100%;
  resize: none;
}

.typewriter > * + * {
  margin-top: 1em;
}

.title {
  margin: 0;
  font-size: 1.75rem;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.typewriter > .body {
  flex-grow: 1;
  border: none;
}

.text-divider {
  background-image: url("/static/textdivider.svg");
  height: 2em;
  background-size: 5em;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em 0;
  border: none;
}

li.me-story:hover > .me-story-hover {
  opacity: 1;
}

.me-story-hover {
  opacity: 0;
}

.me-story-hover--mobile {
  opacity: 1;
}

.view-preferences {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 0.5em;
  display: flex;
}

.story-hide-form {
  display: inline-block;
}

.story-hide-form > button {
  border: none;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
}
