{{ template "base" .}}

{{define "main"}}
<div class="page">
  <main>
    <h1>scribly</h1>
    <p>write stories together</p>
    <a class="button" href="/login">log in</a>
    <a class="button" href="/signup">sign up</a>
  </main>
</div>
{{end}}
