{{ template "base" .}}

{{define "main"}}
<p>
{{ $storyHref := printf "%s/stories/%d#turn-%d" .WebsiteURL .Data.Story.ID .Data.TurnNumber }}
<a href="{{ $storyHref }}">go to your story</a>
</p>
<p>
<span>
    {{ if eq .Data.Turn.Action "write" }}
    {{ .Data.Turn.TakenByU.Username }} wrote a section!
    {{ end }}
    {{ if eq .Data.Turn.Action "write_and_finish" }}
    {{ .Data.Turn.TakenByU.Username }} wrote a section and finished the story!
    {{ end }}
    {{ if eq .Data.Turn.Action "pass" }}
    {{ .Data.Turn.TakenByU.Username }} passed!
    {{ end }}
    {{ if eq .Data.Turn.Action "finish" }}
    {{ .Data.Turn.TakenByU.Username }} finished the story!
    {{ end }}
</span>
{{ if not .Data.Turn.Finishes }}
<span> {{ .WhoseTurnText .Data.Story .Data.Recipient }}</span>
{{ end }}
</p>
{{ if .Data.Turn.Writes }}
<hr>
<em>{{ .Replace .Data.Turn.Text "\n" "<br>" }}</em>
{{ end }}
{{end}}