{{template "before" .}}
<h1 class="title">{{ .Data.UserStory.Story.Title }}</h1>
<p class="text">{{ (index .Data.UserStory.Story.Turns 0).Text }}</p>
<form id="add-cowriters" class="add-cowriters" action="/stories/{{ .Data.UserStory.Story.ID }}/addcowriters"
  method="post">
  <hr />
  <h2>cowriters</h2>
  <input type="text" autocorrect="off" autocapitalize="none" autofocus="true" name="person-1"
    id="person-1" required placeholder="person 1" aria-label="person 1" list="user-suggestions" />
    {{range $i := .Count 2 4 }}
    <input type="text" autocorrect="off" autocapitalize="none" name="person-{{ $i }}"
        id="person-{{ $i }}" placeholder="person {{ $i }} (optional)"
        aria-label="person {{ $i }} (optional)" list="user-suggestions" />
    {{end}}
    <datalist id="user-suggestions">
        {{ range $user := .Data.UserSuggestions }}
            <option value="{{ $user.Username }}" />
        {{ end }}
    </datalist>
  <br />
  <button type="submit" id="new-story-button">
    submit
  </button>
</form>
{{template "after" .}}
