{{define "before"}}
{{ $description := "write stories together" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    <meta name="description" content="{{$description}}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- sosh mede -->
    <meta property="og:description" content="{{$description}}" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body class="{{.ThemeClass}}">
    <main>
        <div class="{{.PageClass}}">
{{end}}

{{define "after"}}
        </div>
    </main>
  </body>
</html>
{{end}}
