body {
  max-width: 750px;
  margin: 0 auto;
  padding: 1em;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
}

input,
textarea {
  font-family: inherit;
  font-size: 16px;
}

button {
  padding: 0.25em 1em;
}

form.simple-form {
  width: 60%;
}

form.simple-form > label.inline {
  display: flex;
}

form.simple-form > label.inline > *:first-child {
  margin-right: 1em;
}

form.simple-form > label.inline > *:nth-child(2) {
  flex-grow: 1;
}

form.simple-form > label.inline-list > div > input {
  display: block;
}

form.simple-form > label.inline-list > div > input + input {
  margin-top: 0.25em;
}

.simple-form > input,
.simple-form > textarea {
  width: 100%;
}

.writer {
  min-height: 10em;
  resize: vertical;
  margin-top: 1em;
}
