body {
  font-family: monospace;
  font-size: 16px;
}

* {
  font-weight: lighter;
  font-family: inherit;
}

.page {
  padding-top: 1em;
  max-width: 900px;
  margin: 0 auto;
}

input,
textarea {
  font-family: inherit;
  font-size: 16px;
}

button {
  padding: 0.25em 1em;
}

form.simple-form {
  width: 60%;
}

form.simple-form > label.inline {
  display: flex;
}

form.simple-form > label.inline > *:first-child {
  margin-right: 1em;
}

form.simple-form > label.inline > *:nth-child(2) {
  flex-grow: 1;
}

form.simple-form > label.inline-list > div > input {
  display: block;
}

form.simple-form > label.inline-list > div > input + input {
  margin-top: 0.25em;
}

.simple-form > input,
.simple-form > textarea {
  width: 100%;
}

.writer {
  min-height: 10em;
  resize: vertical;
  margin-top: 1em;
}

.faded {
  color: gray;
}

.flex {
  display: flex;
}

#new-story {
  height: 95vh;
}

.typewriter {
  display: flex;
  flex-direction: column;
}

.typewriter > * {
  outline: none;
}

.typewriter > input,
.typewriter > textarea {
  width: 100%;
  resize: none;
}

.typewriter > * + * {
  margin-top: 1em;
}

.typewriter > .title {
  font-size: 1.75rem;
  border-width: 0 0 1px 0;
}

.typewriter > .body {
  flex-grow: 1;
  border: none;
}

.typewriter > button {
  padding: 1em;
  background: transparent;
  cursor: pointer;
  border: solid 1px;
}

.typewriter > button:hover,
.typewriter > button:focus {
  background: lightgray;
}
