<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    <h1>add cowriters</h1>
    <form
      id="add-cowriters-form"
      class="simple-form"
      action="/stories/{{ story.id }}/addcowriters"
      method="post"
    >
      <input name="person-1" id="person-1" required placeholder="person 1" />
      {% for i in range(2, 4) %}
      <input
        name="person-{{ i }}"
        id="person-{{ i }}"
        placeholder="person {{ i }} (optional)"
      />
      {% endfor %}
      <br />
      <button type="submit" id="new-story-button">
        submit
      </button>
    </form>
    <h2>{{ story.title }}</h2>
    <p>{{ story.turns[0].text_written }}</p>
  </body>
</html>
