{% import 'head.html' as head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ head.head(story.title + ' - Add Cowriters') }}
</head>

<body>
  <div class="page">
    <main>
      <h1 class="title">{{ story.title }}</h1>
      <p class="text">{{ story.turns[0].text_written|replace('\n', '<br>'|safe) }}</p>
      <form id="add-cowriters" class="add-cowriters" action="/stories/{{ story.id }}/addcowriters"
        method="post">
        <hr />
        <h2>cowriters</h2>
        <input type="text" autocorrect="off" autocapitalize="none" autofocus="true" name="person-1"
          id="person-1" required placeholder="person 1" aria-label="person 1" />
        {% for i in range(2, 4) %}
        <input type="text" autocorrect="off" autocapitalize="none" name="person-{{ i }}"
          id="person-{{ i }}" placeholder="person {{ i }} (optional)"
          aria-label="person {{ i }} (optional)" />
        {% endfor %}
        <br />
        <button type="submit" id="new-story-button">
          submit
        </button>
      </form>
    </main>
  </div>
</body>

</html>
