{% import 'head.html' as head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ head.head("Uh oh!") }}
  <style type='text/css'>
    .frame {
      background: lightgray;
    }

    .frame__title {
      padding: 5px;
      border-bottom: solid 2px;
    }

    .code-line {
      white-space: pre-wrap;
    }

    .code-line--center {
      background: lightyellow;
    }
  </style>
</head>

<body>
  <div class="page">
    <h1>There was an error!</h1>
    <p>
      Scribly is a growing project, and there's a lot that hasn't been built out yet!
      Here is an error that was raised while you were using Scribly.
    </p>
    <p>
      <i>(If this error is getting in your way, feel free to <a
          href="mailto:zach.the.hammer@gmail.com?subject=Scribly Bug!" target="_blank"
          rel="noopener noreferrer">send an email</a>, or, if you're familiar with github,{{" "}}
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/zhammer/scribly">
          make an issue and/or write some code!</a>)</i>
    </p>
    <hr>
    <h2>
      {{ traceback.exc_type.__name__}}: {{ traceback }}
    </h2>
    {% for frame_info in frame_infos|reverse %}
    <div class="frame">
      <p class="frame__title">
        {{ frame_info.frame.filename }}, line <i>{{ frame_info.frame.lineno }}</i>, in
        <b>{{ frame_info.frame.function }}</b>
      </p>
      <div>
        {%- for code_line in frame_info.code_lines -%}
        <p class="code-line {% if code_line.center %}code-line--center{% endif %}">
          {{- code_line.line_number -}}. {{ code_line.line }}</p>
        {%- endfor -%}
      </div>
    </div>
    <hr>
    {% endfor %}
</body>

</html>
