<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scribly</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:300&display=swap" rel="stylesheet">

    <!-- stylehseet -->
    <link rel="stylesheet" href="/static/style.css">

  </head>
  <body>

    <h1>scribly</h1>
    <p>write stories together</p>

  </body>
</html>
