{{ define "index.tmpl" }}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scribly</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- stylesheet -->
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <div class="page">
    <h1>scribly</h1>
    <p>write stories together</p>
    <a class="button" href="/login">
      log in
    </a>
    <a class="button" href="/signup">
      sign up
    </a>
  </div>
</body>

</html>

{{ end }}
