{% import 'head.html' as head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ head.head("Scribly - Log in") }}
</head>

<body>
  <div class="page">
    <main>
      <h1>log in</h1>
      <form action="/login" method="post">
        <input name="username" placeholder="username" aria-label="username" required />
        <input name="password" placeholder="password" type="password" aria-label="password"
          required />
        <button type="submit">
          log in
        </button>
      </form>
    </main>
  </div>
</body>

</html>
