{% set show_hidden = (request.query_params.show_hidden or '0') | int -%}
{% import 'head.html' as head %}
{% macro story_li(story_with_meta) -%}
{% if not (story_with_meta.hidden and not show_hidden) -%}
<li class="me-story">
  {% if story_with_meta.hidden -%}<i>(hidden) </i>{%- endif %}<a
    href="/stories/{{ story_with_meta.story.id }}">{{ story_with_meta.story.title }}</a>
  <span class="me-story-hover"> ·{{" "}}
    {% set hide_action = "unhide" if story_with_meta.hidden else "hide" -%}
    <form id="story-{{ story_with_meta.story.id }}-hide-form" class="story-hide-form"
      action="/stories/{{ story_with_meta.story.id }}/{{ hide_action }}" method="post">
      <button type="submit">{{ hide_action }}</button type="submit">
    </form>
  </span>
</li>
{%- endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ head.head() }}
</head>

<body>
  <div class="page">
    <main>
      <h1>{{ me.user.username }}'s scribly</h1>
      <div>
        {% if show_hidden | int -%}
        <a href="?show_hidden=0">don't show hidden stories</a>
        {% else -%}
        <a href="?show_hidden=1">show hidden stories</a>
        {%- endif %}
      </div>
      <div>
        <section>
          <h2>drafts</h2>
          <ul>
            {% for story_with_meta in me.drafts %}
            {{ story_li(story_with_meta) }}
            {% endfor %}
          </ul>
        </section>
        <section>
          <h2>your turn</h2>
          <ul>
            {% for story_with_meta in me.your_turn %}
            {{ story_li(story_with_meta) }}
            {% endfor %}
          </ul>
        </section>
        <section>
          <h2>waiting for others</h2>
          <ul>
            {% for story_with_meta in me.waiting_for_others %}
            {{ story_li(story_with_meta) }}
            {% endfor %}
          </ul>
        </section>
        <section>
          <h2>done</h2>
          <ul>
            {% for story_with_meta in me.done %}
            {{ story_li(story_with_meta) }}
            {% endfor %}
          </ul>
        </section>
        <a class="button" href="/new">start a new story</a>
      </div>
      {% if not me.user.email_verification_status == "verified" %}
      <br>
      <hr>
      <div>
        <p>verify your email to follow stories you're working on!</p>
        <form id="verify-email-form" action="/email-verification" method="post">
          <button title="Resend email verification link" type="submit">
            resend verification link
          </button>
        </form>
      </div>
      {% endif %}
    </main>
  </div>
</body>

</html>
