{% import 'head.html' as head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ head.head() }}
</head>

<body>
  <div class="page">
    <h1>{{ me.user.username }}'s scribly</h1>
    <div>
      <section>
        <h3>drafts</h3>
        <ul>
          {% for story in me.drafts %}
          <li>
            <a href="/stories/{{ story.id }}">{{ story.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h3>in progress</h3>
        <ul>
          {% for story in me.in_progress %}
          <li>
            <a href="/stories/{{ story.id }}">{{ story.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h3>done</h3>
        <ul>
          {% for story in me.done %}
          <li>
            <a href="/stories/{{ story.id }}">{{ story.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
      <a class="button" href="/new">start a new story</a>
    </div>
    <br>
    <hr>
    <div>
      <h1>settings</h1>
      <h2>email verification</h2>
      {% if me.user.email_verification_status == "verified" %}
      <p>your email is verified!</p>
      {% else %}
      <p>verify your email to follow stories you're working on!</p>
      <form id="verify-email-form" action="/email-verification" method="post">
        <button type="submit">send verification link</button>
      </form>
      {% endif %}
    </div>
  </div>
</body>

</html>
