{% import 'head.html' as head %}
<!DOCTYPE html>
<html lang="en">

<head>
  {{ head.head('Scribly - New Story') }}
</head>

<body>
  <div class="page page-tall">
    <main>
      <h1>new story</h1>
      <form id="new-story" action="/new" method="post" class="typewriter">
        <input name="title" class="title" required autocomplete="off" autofocus="true"
          aria-label="title" />
        <textarea name="body" class="body" aria-label="body" required></textarea>
        <button type="submit" id="new-story-button">
          add cowriters (saves current draft)
        </button>
      </form>
    </main>
  </div>
</body>

</html>
