<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scribly</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:300&display=swap"
      rel="stylesheet"
    />

    <!-- stylehseet -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>start a new story</h1>
    <form id="new-story-form" class="simple-form" action="/new" method="post">
      <input
        name="title"
        id="title"
        required
        placeholder="{{ random_title_suggestion }}"
      />
      <br />
      <textarea
        name="intro"
        id="intro"
        class="writer"
        placeholder="{{ random_intro_suggestion }}"
        required
      ></textarea>
      <br />
      <button type="submit" action="/new" method="post" id="new-story-button">
        create
      </button>
    </form>
  </body>
</html>
