name: CI

on: [push]

jobs:
  go-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - run: go test ./...

  cypress-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: corepack enable
      # Create static directory for email testing hack (Cypress writes email HTML here)
      - run: mkdir -p static
      - uses: cypress-io/github-action@v6
        with:
          browser: chrome
          record: true
          parallel: true
          start: "docker compose up"
          wait-on: "http://127.0.0.1:8000"
          wait-on-timeout: 180
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          DATABASE_URL: postgres://scribly:pass@localhost/scribly
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: docker compose logs
        if: ${{ failure() }}
